.image{
    position:relative;
    width: 90%;
    display: block;
    margin:auto;
}

.projects{
    max-height: 80%;
    max-width: 100%;
    filter: none;
    transition: filter 0.5s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.image:hover .projects{
    filter:blur(4px);
    -webkit-filter: blur(4px);
    transition: filter 0.5s ease-in-out;
}

.image:hover .overlay{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.project_number{
    font-size: 100px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
}



.vertical-line{
    border-right: 6px solid #fb8500;
    /* border-right: 6px solid #219ebc; */
    height:80%;
    display:block;
}


@media screen and (max-width: 992px){
    #main_message{
        margin-top: 180px;
    }

    .vertical-line{
        display: none;
    }

    .project_number{
        writing-mode: horizontal-tb;
        font-size: 80px;
    }
}