@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans&display=swap");

body {
  background-color: #023047;
  /* background-color: #fb8500; */
  color: #fb8500;
  font-family: "Comfortaa", cursive;
}

h1#main-title {
  color: #fb8500;
  /* color: #023047; */
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 4px solid #219ebc;
}


.orange_fill{
  position:relative;
  background: #ffb703;
  border: 1px solid #023047;
  border-radius: 8px;
  transition: all 0.8s;
  
}

.orange_fill span{
  position:relative;
  z-index: 2;
}

.orange_fill::after{
  position:absolute;
  content:"";
  top:0;
  left:0;
  width: 0;
  height:100%;
  background: #fb8500;
  border-radius: 8px;
  transition: all 0.8s;
}

.orange_fill:hover::after{
  width: 100%;
}

.rounded-5{
  border-radius: 12px;
}

.yellow-bg {
  background-color: #ffb703;
}

.yellow {
  color: #ffb703;
}

.bg-dark-blue {
  background-color: #023047;
}

#main_page:hover {
  color: #fb8500;
}

.light-blue {
  background-color: #219ebc;
}

/* nav animation for underlining */
a.middle {
  position: relative;
}

a.middle:hover {
  color: #fb8500;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #219ebc;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* Social media barside*/
.social {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50px, 0);
  z-index: 1000;
}

.social a {
  color: #023047;
  /* background: rgba(33, 158, 188, 0.5); */
  background: rgba(251, 133, 0, 1);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  display: block;
  margin: 0px;
  padding: 20px;
  width: 100px;
  text-align: right;
  border-radius: 50x;
  transition: 1s;
  transition-property: transform;
  z-index: 1000;
}

.social a:hover {
  transform: translate(30px, 0);
  color: #219ebc;
}
.social i {
  margin-left: 10px;
  font-size: 30px;
  width: 20px;
  height: 20px;
}

.page_screen{
  height: 100vh;
}
@media screen and (max-width: 992px){
  #main_cont{
    margin-top: 200px;
    z-index: -1;
  }

  .page_screen{
    margin-bottom: 150px;
  }
}

/* Entrance animation elements */
.lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes lightSpeedIn {
    0% {
      -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
    60% {
      -webkit-transform: skewX(20deg);
      transform: skewX(20deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: skewX(-5deg);
      transform: skewX(-5deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: none;
      transform: none;
      opacity: 1;
    }
    }
    @keyframes lightSpeedIn {
    0% {
      -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
    60% {
      -webkit-transform: skewX(20deg);
      transform: skewX(20deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: skewX(-5deg);
      transform: skewX(-5deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: none;
      transform: none;
      opacity: 1;
    }
  }

  .slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    }
    @keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    } 
